.main-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h1 {
    margin: 0;
  }

  .codigo-modular {
    display: flex;
    align-items: center;
    gap: 16px;

    .full-width {
      flex: 1;
    }
  }

  .detalle-calculo {
    hr {
      height: 3px; /* Aumenta el grosor de la línea */
      background-color: #333; /* Cambia el color de fondo */
      border: none; /* Elimina el borde predeterminado */
      width: 100%; /* Establece el largo al 100% */
    }
    .nombre_apellido {
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .titulo {
      margin-bottom: 8px;
      font-weight: bold;
      color: #333; /* Color del título */
      text-align: center;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      /* Encabezado */
      th {
        background-color: #212121; /* Fondo negro */
        color: #ffffff; /* Texto blanco */
        font-weight: bold; /* Negrita */
        padding: 12px;
        text-align: left;
        border: 1px solid #333; /* Bordes gris oscuro */
      }

      /* Celdas de datos */
      td {
        padding: 12px;
        border: 1px solid #ddd; /* Bordes gris claro */
        color: #424242; /* Texto gris oscuro */
        font-weight: bold; /* Negrita */
        text-align: left;

        &:nth-child(2) {
          text-align: right; /* Alineación derecha para valores numéricos */
        }
      }

      /* Estilo para filas pares */
      tr:nth-child(even) {
        background-color: #f5f5f5; /* Fondo gris claro */
      }

      /* Efecto hover en filas */
      tr:hover {
        background-color: #eeeeee; /* Fondo gris intermedio */
      }
    }

    /* Totales */
    tfoot {
      td {
        font-weight: bold;
        background-color: #e0e0e0; /* Fondo gris para totales */
        color: #212121; /* Texto negro */
      }
    }
  }

  .botones {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}
