.reset-password-card {
  position: absolute; /* Establece la posición absoluta */
  top: 50%;            /* Posición en el 50% desde el top */
  left: 50%;           /* Posición en el 50% desde el left */
  transform: translate(-50%, -50%); /* Mueve el elemento hacia atrás para centrarlo */
  
    max-width: 450px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  
    h2 {
      margin-bottom: 20px;
    }
  
    .form-field {
      width: 100%;
      margin-bottom: 20px;
    }
  
    button {
      width: 100%;
      padding: 10px;
    }
  
    .spinner-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  
    .message {
      margin-top: 20px;
      font-weight: bold;
      color: green;
    }

    .titulo{
      font-weight: bold;
      font-size: 1.5em;
    }
  }
  